@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .borderTop {
    @apply border-t-[1px] border-t-zinc-800;
  }
  .borderBottom {
    @apply border-b-[1px] border-b-zinc-800;
  }
  .borderRight {
    @apply border-r-[1px] border-r-zinc-800;
  }
  .borderLeft {
    @apply border-l-[1px] border-l-zinc-800;
  }
  .borderAll {
    @apply border-[1px] border-zinc-800;
  }
  /* ======================== About Me Start ========================== */
  .aboutRightLi {
    @apply text-zinc-400 text-base font-normal flex justify-between items-center border-b-[1px] border-gray-800 py-2;
  }
  .aboutRightLiSpan {
    @apply bg-designColor text-black uppercase px-4 py-[1px] rounded-md;
  }
  /* ======================== About Me End ============================ */
  .sidenavLi{
    @apply text-textColor border-b-[1px] border-b-zinc-500 py-4 text-base hover:text-designColor duration-300
  }
}


@layer utilities {
  /* Apply scrollbar styles globally */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  *:hover {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Show the tooltip on hover */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.popup {
  /* Your popup styling */
}

.technologies {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tech-icon {
  font-size: 24px;
  color: #333; /* Adjust as needed */
}
